## TypeCasting

In [ ]:
a = float(input())
print (int(a))

88.99
88

## Maximum of two number

In [ ]:
a = int(input ())
b = int(input ())
if a > b :
  print ("Maximum number is ", a)
else :
  print ("Maximum number is ", b)

4
5
Maximum number is  5

## Python program to print all even numbers in a range

In [ ]:
a = int (input ("Start :"))
b = int (input ("End :"))
c = []
for i in range (a,b,1) :
  if i % 2 == 0 :
    c.append(i)
print (c)

Start :4
End :5
[4]

## Python program to print all odd  numbers in a range

In [ ]:
a = int (input ("Start :"))
b = int (input ("End :"))
c = []
for i in range (a,b,1) :
  if i % 2 != 0 :
    c.append(i)
print (c)

Start :15
End :75
[15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73]

In [ ]:
a = int(input ())
b = int(input ())
print ("Maximum number is ", max(a,b))

4
5
Maximum number is  5

In [ ]:
a = int (input())
b = int (input())
c = int (input())
if a > b and a > c :
  print ("Maximum number is ", a)
elif b > a and b > c :
  print ("Maximum number is ", b)
else :
  print ("Maximum number is ", c)

1
2
3
Maximum number is  3

# Variable Swap

In [ ]:
x = 10
y = 20

# Swap using tuple unpacking
x, y = y, x

# Print the swapped values
print("After swapping:")
print("x =", x)
print("y =", y)

After swapping:
x = 20
y = 10

# Area of Circle

In [ ]:
r = input("Enter the radius : ")
area = 3.14 * float(r) ** 2
print ("Area of Circle : ", area)

Enter the radius : 10.8
Area of Circle :  366.24960000000004

# Temperature Conversion

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

def celsius_to_kelvin(celsius):
    return celsius + 273.15

def kelvin_to_celsius(kelvin):
    return kelvin - 273.15

def fahrenheit_to_kelvin(fahrenheit):
    celsius = fahrenheit_to_celsius(fahrenheit)
    return celsius_to_kelvin(celsius)

def kelvin_to_fahrenheit(kelvin):
    celsius = kelvin_to_celsius(kelvin)
    return celsius_to_fahrenheit(celsius)

def convert_temperature():
    print("Temperature Conversion Options:")
    print("1: Celsius to Fahrenheit")
    print("2: Fahrenheit to Celsius")
    print("3: Celsius to Kelvin")
    print("4: Kelvin to Celsius")
    print("5: Fahrenheit to Kelvin")
    print("6: Kelvin to Fahrenheit")

    choice = int(input("Select an option (1-6): "))

    if choice == 1:
        celsius = float(input("Enter temperature in Celsius: "))
        print(f"{celsius}°C = {celsius_to_fahrenheit(celsius):.2f}°F")
    elif choice == 2:
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        print(f"{fahrenheit}°F = {fahrenheit_to_celsius(fahrenheit):.2f}°C")
    elif choice == 3:
        celsius = float(input("Enter temperature in Celsius: "))
        print(f"{celsius}°C = {celsius_to_kelvin(celsius):.2f}K")
    elif choice == 4:
        kelvin = float(input("Enter temperature in Kelvin: "))
        print(f"{kelvin}K = {kelvin_to_celsius(kelvin):.2f}°C")
    elif choice == 5:
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        print(f"{fahrenheit}°F = {fahrenheit_to_kelvin(fahrenheit):.2f}K")
    elif choice == 6:
        kelvin = float(input("Enter temperature in Kelvin: "))
        print(f"{kelvin}K = {kelvin_to_fahrenheit(kelvin):.2f}°F")
    else:
        print("Invalid option selected.")

if __name__ == "__main__":
  convert_temperature()

Temperature Conversion Options:
1: Celsius to Fahrenheit
2: Fahrenheit to Celsius
3: Celsius to Kelvin
4: Kelvin to Celsius
5: Fahrenheit to Kelvin
6: Kelvin to Fahrenheit

# List Problems :

## Swap the first and last values in a list

In [ ]:
a = [1,2,3,4,5]
x,y = a[0],a[-1]
a[0],a[-1] = y,x
print (a)

[5, 2, 3, 4, 1]

In [ ]:
a = [1, 2, 3, 4, 5]
new_list = [a[-1]] + a[1:-1] + [a[0]]
print(new_list)

[5, 2, 3, 4, 1]

## Move first element to last in a list :

In [ ]:
my_list = [1, 2, 3, 4, 5]# Move the first element to the end
my_list.append(my_list.pop(0))
my_list

[2, 3, 4, 5, 1]

In [ ]:
my_list = [1, 2, 3, 4, 5]# Move the first element to the end
a = my_list [0]
my_list.remove (a)
my_list.append (a)
my_list

[2, 3, 4, 5, 1]

## Swap Two Elements in a List

In [ ]:
my_list = [10, 20, 30, 40, 50]
a,b = my_list[0], my_list[2] # Swapping element from first and third position
my_list [0], my_list [2] = b,a
my_list

[30, 20, 10, 40, 50]

## Swap Element in a string list

In [ ]:
a = ["Bonona", "Opple", "Kuwu"]
b = [i.lower ().replace("o", "a").replace("u", "i") for i in a]  # Apply replace to each element of the list
print(b)

['banana', 'apple', 'kiwi']

## Length Of List

In [ ]:
l1 = [10, 20, 30]
n = len(l1)
print("Length of l1 : ", n)

l2 = []
n = len(l2)
print("Length of l2 : ", n)

l3 = [[10, 20], ["gfg", "courses"], 10.5]
n = len(l3)
print("Length of l3: ", n)

Length of l1 :  3
Length of l2 :  0
Length of l3:  3

## Count the element in the list

In [ ]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10
count = lst.count(10)
count

3

In [ ]:
lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
x = 10
count = 0
for i in lst :
  if i == x :
    count += 1
print (count)

3

## Find sum and average of List in Python

In [ ]:
a = [4, 5, 1, 2, 9, 7, 10, 8]
sum = sum(a)
avg = sum / len(a)
print ("Sum : ", sum)
print ("Average : ", avg)

Sum :  46
Average :  5.75

## Sum of the number digits in a list

In [ ]:
a = [12, 67, 98, 34]
b = []
for i in a :
  sum = 0
  for j in str(i) :
    sum += int(j)

  b.append (sum)
print (b)

[3, 13, 17, 7]

## Multiply all numbers in the list

In [ ]:
a = [1, 2, 3]
m = 1
for i in a :

  m = i*m
print (m)

6

## Python program to find smallest number in a list

In [ ]:
list1 = [10, 20, 4]
list1.sort()
print("Smallest element is:", list1[0])

Smallest element is: 4

## Python program to print even numbers in a list

In [ ]:
a = [2, 7, 5, 64, 14]
b = []
for i in a :
  if i % 2 == 0 :
    b.append(i)
b

[2, 64, 14]

## Python program to print odd numbers in a List

In [ ]:
a = [2, 7, 5, 64, 14]
b = []
for i in a :
  if i % 2 != 0 :
    b.append(i)
b

[7, 5]

## Python program to print negative numbers in a list

In [ ]:
a = [2, 7, -5, 64, -14]
b = []
for i in a :
  if i < 0 :
    b.append(i)
b

[-5, -14]

## Python program to count Even and Odd numbers in a List

In [ ]:
a = [2, 7, 5, 64, 14]
odd = 0
even = 0
for i in a :
  if i % 2 == 0 :
    even += 1
  else :
    odd += 1
print ("Even : ", even)
print ("Odd : ", odd)

Even :  3
Odd :  2

## Python program to count positive and negative numbers in a list

In [ ]:
a = [2, -7, 5, -64, 14]
positive = 0
negative = 0
for i in a :
  if i > 0 :
    positive += 1
  else :
    negative += 1
print ("Positive : ", positive)
print ("Negative : ", negative)

Positive :  3
Negative :  2

## Check if an element exists in the list using the “in” statement

In [ ]:
a = [1,2,3,4,5]
if 3 in a :
  print ("Element exists")
else:
    print("not exist")

Element exists

## Copy a List

In [ ]:
a = [1,2,3,4,5]
b = a.copy ()
print (b)

[1, 2, 3, 4, 5]

In [ ]:
a = [1,2,3,4,5]
b = a[:]
print (b)

[1, 2, 3, 4, 5]

## Reversing a list

In [ ]:
a = [1,2,3,4,5]
a.reverse ()
print (a)

[5, 4, 3, 2, 1]

In [ ]:
a = [1,2,3,4,5]
b = a [::-1]
print (b)

[5, 4, 3, 2, 1]

# STRING PROBLEMS

## Symmetrical

In [ ]:
a = input ("Enter a string :").lower ()
mid = len (a) // 2
if mid % 2 == 0 :
  first_str = a [:mid]
  second_str = a [mid:]
else :
  first_str = a [:mid]
  second_str = a [mid+1:]
if first_str == second_str :
  print ("Symmetrical")
else :
  print ("Not Symmetrical")

In [ ]:
my_list = ['apple', 'banana', 'cherry']
my_string = "I like apples and bananas."
for item in my_list:
    if item in my_string:
        print(f"{item} is found in the string.")
    else:
        print(f"{item} is not found in the string.")

apple is found in the string.
banana is found in the string.
cherry is not found in the string.

## Palindrome

In [ ]:
a = input("Enter a string : "). lower ()
b = a[::-1]
if a == b :
  print ("Palindrome")
else :
  print ("Not a Palindrome")

Enter a string : Madam
Palindrome

## Reverse Words in a Given String in Python

In [ ]:
a = "my name is laxmi"
b = a.split()
b.reverse ()
print (" ".join(b))

laxmi is name my

## How to Remove Letters From a String in Python

In [ ]:
a = "Geeks123For123Geeks"
a = a.replace ("123", "")
a

'GeeksForGeeks'

## Length of the String

In [ ]:
a = "hello world !"
print (len(a))

13

## Python – Avoid Spaces in string length

In [ ]:
a = "geeksforgeeks 33 best"
print ("Length of string before space", len(a))
for i in a :
  if i == " " :
    a = a.replace (" ", "")
print (len(a))

Length of string before space 21
19

## Python program to print even length words in a string

In [ ]:
 s = "This is a python language"
 n = []
 s = s.split()
 for i in s :
   if len(i) % 2 == 0 :
     n.append(i)
print (" ".join(n))

This is python language

## Uppercase Half String

In [ ]:
a = 'geeksforgeek'
b = len(a) // 2
c = a[:b].upper() + a[b:]
c

'GEEKSForgeek'

## Capitalize the first and last character of each word in a string

In [ ]:
a = "hello world"
for i in a.split():
    print(i[0].upper() + i[1:-1] + i[-1].upper(), end=" ")

HellO WorlD

## Python program to check if a string has at least one letter and one number

In [ ]:
a = "welcomeourcountry"
b = 0  # Flag for letters
c = 0  # Flag for digits

for i in a:
    if i.isalpha():
        b = 1
    if i.isdigit():
        c = 1

    # Exit the loop early if both conditions are met
    if b == 1 and c == 1:
        break

if b == 1 and c == 1:
    print("String has both letter and number")
else:
    print("String does not have both letter and number")

String does not have both letter and number

## Python Program to Accept the Strings Which Contains all Vowels

In [ ]:
a = "aeio".lower()
vowels = "aeiou"
for i in vowels :
  if i not in a :
    print ("No")
    break
else :
  print ("Yes")

No

## Python program to count number of vowels using sets in given string

In [ ]:

string = "GeekforGeeks!"
vowels = "aeiouAEIOU"

count = sum(string.count(i) for i in vowels)
print(count)

5

## Remove All Duplicates from a Given String in Python

In [ ]:
a = "geeksforgeeks"
b = set (a)
print ("".join(b))

oefskgr

## Frequency of numbers in String

In [ ]:
a = "geeks4feeks is No. 1 4 geeks"
temp = 0
for i in a :
  if (i.isdigit()) :
    temp += 1
print (temp)

3

## Program to check if a string contains any special character

In [ ]:
n = "Geeks$For$Geeks"
a = '[@_!#$%^&*()<>?/\|}{~:]'
for i in n :
  if i in a :
    print ("Not valid string")
    break
else :
  print ("Valid string")

Not valid string

## Find words which are greater than given length k

In [ ]:
a = "hello geeks for geeks is computer science portal".split()

b = []
temp = int (input("Enter the number : "))
for i in a :
  if len(i)> temp :
    b.append(i)
print (" ".join(b))

Enter the number : 4
hello geeks geeks computer science portal

## Python program for removing i-th character from a string

In [ ]:
a = "Gughan"
b = []
temp = int (input("Enter the number : "))
for i in range (len(a)) :
  if i != temp-1 :
    b.append(a[i])
print ("".join(b))

Enter the number : 2
Gghan

## Python program to create a list of tuples from given list having number and its cube in each tuple

In [ ]:
list = [1, 2, 3]
temp = [(i, i**3) for i in list]
temp

[(1, 1), (2, 8), (3, 27)]

## Adding Tuple to List

In [ ]:
my_list = [5, 6, 7]
tup = (9, 10)
b = [i for i in tup]  # Using the built-in list() function
c = my_list + b
c

[5, 6, 7, 9, 10]

## Sum of tuple elements

In [ ]:
tuple1 = (1, 2, 3, 4)
sum = 0
for i in tuple1 :
  sum += i
print (sum)

10

## SUM of two tuple elements

In [ ]:
test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 6, 7, 5)
c = []
for i in range (len(test_tup1)) :
  c.append(test_tup1[i] + test_tup2[i])
tuple (c)

(15, 10, 12, 11)

## Multiply Adjacent elements

In [ ]:
test_tup = (1, 5, 7, 8, 10)
dup = []
for i in range (len(test_tup) - 1) :
   dup.append (test_tup[i] * test_tup [i+1])

dup
tuple (dup)

(5, 35, 56, 80)

## All pair combinations of 2 tuples

In [ ]:
test_tuple1 = (4, 5)
test_tuple2 = (7, 8)
res = [(i,j) for i in test_tuple1 for j in test_tuple2]
res = res + [(i,j) for i in test_tuple2 for j in test_tuple1]
res

[(4, 7), (4, 8), (5, 7), (5, 8), (7, 4), (7, 5), (8, 4), (8, 5)]

## Remove Tuples of Length K

In [ ]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

k = 2
res = [i for i in test_list if len(i) != k ]
res

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

## Remove Tuples from the List having every element as None

In [ ]:
test_list = [(None, None), (None, None), (3, 4), (12, 3), (None, ), (None, 1)]
res = []

for i in test_list :
  if not (i.count(None)== len (i)) :
    res.append(i)
res

[(3, 4), (12, 3), (None, 1)]

# Set problems :

## Check if two lists have at-least one element common

In [ ]:
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
a = set(a)
b = set(b)
if a.intersection(b) :
  print ("Yes")
else :
  print ("No")

Yes

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
a = set (ar1)
b = set (ar2)
c = set (ar3)
set1 = a.intersection(b)
result_set = set1.intersection(c)
result_set

{20, 80}

## Find missing and additional values in two lists

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [4, 5, 6, 7, 8]

# prints the missing and additional elements in list2
print("Missing values in second list:", (set(list1).difference(list2)))
print("Additional values in second list:", (set(list2).difference(list1)))

# prints the missing and additional elements in list1
print("Missing values in first list:", (set(list2).difference(list1)))
print("Additional values in first list:", (set(list1).difference(list2)))

Missing values in second list: {1, 2, 3}
Additional values in second list: {7, 8}
Missing values in first list: {7, 8}
Additional values in first list: {1, 2, 3}

## Concatenated string with uncommon characters in Python

In [ ]:
def uncommonConcat(str1, str2):

    # convert both strings into set
    set1 = set(str1)
    set2 = set(str2)

    # Performing symmetric difference operation of set
    # to pull out uncommon characters
    uncommon = list(set1 ^ set2)

    # join each character without space to get
    # final string
    print( ''.join(uncommon) )

# Driver program
if __name__ == "__main__":
    str1 = 'aacdb'
    str2 = 'gafd'
    uncommonConcat(str1,str2)

cbgf

## Python set to check if string is pangram

In [ ]:
a = "The quick brown fox jumps over the lazy dog"
a = a.replace(" ", ""). lower()
a = list(set (a))
a.sort()
x= "".join(a)
if x == "abcdefghijklmnopqrstuvwxyz" :
  print ("Yes")
else :
  print ("No")

Yes